<div class="directory-wrapper">

    {% assign directory = site.profiles | reverse %}
    {% for profile in directory %}
    <div
        class="card directory-item is-{{ profile.categories | join: '_is-' | replace: ' ', '-' | replace: '_', ' ' | downcase }} is-{% if profile.graduated %}{{ profile.graduated }}{% else %}current-student{% endif %}">
        <div class="card-head">
            <a class="directory-item-image" href="{{ profile.url }}">
                <figure class="image is-full is-cover">
                    <img data-src="/assets/profiles/{{ profile.slug }}.jpg" alt="{{ profile.title }}" class="lazyload"
                        width="500px" height="500px">
                </figure>
            </a>
        </div>
        <div class="card-body">
            <a href="{{ profile.url }}">
                <h4>{{ profile.title }}</h4>
            </a>
            <p class="directory-item-location is-size-7 is-uppercase has-text-darkgray">
                {% if profile.graduated %}
                <span class="icon"><i class="fas fa-graduation-cap"></i></span>
                <span>{{ profile.graduated }}</span>&nbsp;&nbsp;-&nbsp;
                {% endif %}
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <span>{{ profile.current_location }}</span>
            </p>
            <p class="directory-item-bio">{{ profile.excerpt | strip_html | truncatewords:20 }}</p>
            <ul class="directory-item-occupations">
                <li>{{ profile.categories | join: '</li><li>'}}</li>
            </ul>
        </div>
        <div class="card-foot">
            <div class="directory-item-links">
                {% if profile.link_site %}
                <a href="{{ profile.link_site }}"><i class="fas fa-globe"></i></a>
                {% endif %}
                {% if profile.link_facebook %}
                <a href="https://facebook.com/{{ profile.link_facebook }}">
                    <i class="fab fa-facebook"></i>
                </a>
                {% endif %}
                {% if profile.link_twitter %}
                <a href="https://twitter.com/{{ profile.link_twitter }}">
                    <i class="fab fa-twitter"></i>
                </a>
                {% endif %}
                {% if profile.link_instagram %}
                <a href="https://instagram.com/{{ profile.link_instagram }}">
                    <i class="fab fa-instagram"></i>
                </a>
                {% endif %}
                {% if profile.link_behance %}
                <a href="https://behance.net/{{ profile.link_behance }}">
                    <i class="fab fa-behance"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>