<div class="directory-filter directory-filter-categories is-nonselectable has-paragraphs">

    <h6 class="has-text-smallcaps">Filter</h6>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-graphic-designer" value="is-graphic-designer">
                <span>💻 Graphic Designer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-illustrator" value="is-illustrator">
                <span>🖌 Illustrator</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-web-designer" value="is-web-designer">
                <span>🌏 Web Designer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-web-designer" value="is-motion-designer">
                <span>🎞 Motion Designer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-art-director" value="is-art-director">
                <span>👨‍💼 Art Director</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-animator" value="is-animator">
                <span>💃🏼Animator</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-freelancer" value="is-freelancer">
                <span>👨‍💻 Freelancer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-3d-artist" value="is-3d-artist">
                <span>🗳️ 3D Artist</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-product-designer" value="is-product-designer">
                <span>📱 Product Designer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-marketer" value="is-marketer">
                <span>💁‍ Marketer</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-copywriter" value="is-copywriter">
                <span>🖋 Copywriter</span>
            </label>
        </div>
    </div>

</div>

<div class="directory-filter directory-filter-graduated is-nonselectable has-paragraphs">

    <h6 class="has-text-smallcaps">Graduation Year</h6>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-current-student" value="is-current-student">
                <span>📝 Current Student</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-graduated-2019" value="is-2019">
                <span>🎓 2019</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-graduated-2018" value="is-2018">
                <span>🎓 2018</span>
            </label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" rel="is-graduated-2017" value="is-2017">
                <span>🎓 2017</span>
            </label>
        </div>
    </div>
</div>