<div class="sidebar is-sticky">

    <a class="logo is-nonselectable" href="/">
        <img src="/assets/images/fromrmit_logo_red.svg" width="270px" height="54px">
        <p class="is-size-7">RMIT Vietnam Design and Media Student Directory</p>
    </a>

    <div class="sidebar-toggle">
        <span class="icon">🍔</span>
    </div>

    {% if page.layout == "directory" %}
    {% include directory/sidebar.html %}
    {% endif %}

    {% if page.layout == "nominate" %}
    {% include nominate/sidebar.html %}
    {% endif %}

    {% if page.layout == "about" %}
    {% include about/sidebar.html %}
    {% endif %}

    {% include global/footer.html %}

</div>