:root {
    --background: var(--white);
    --navbar-background: transparent;

    --navbar-height: 8rem;

    --red: #dc291e;

    --font-family-sans-serif: 'proxima-nova',
        sans-serif;
    --font-size: 15px;
}