:root {
	--background: var(--white);
	--navbar-background: transparent;
	--font-size-7: 0.8rem;
	--navbar-height: 8rem;
	--red: #dc291e;
	--font-family-sans-serif: 'proxima-nova', sans-serif;
	--font-size: 15px;
	--border-radius: 5px;
	--border-width: 0px;
}
