@import 'mixins';
@import 'configs';

@import 'field';

@import 'directory';

.card {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: var(--white);
    @include border;
    border-radius: var(--border-radius);

    .card-media {
        display: flex;
        flex-shrink: 0;
        width: 100%;

        &.is-left {
            @include border(right);
        }
    }

    .card-body {
        padding: 1rem;
    }

    &.is-horizontal {
        flex-direction: row;

        .card-media {
            width: calc(100% / 3);
        }
    }
}

.column.is-narrow-xs {
    width: auto;
}

.field.is-required {
    .label {
        &:after {
            content: ' *';
            color: var(--red);
        }
    }
}

#uploadImage {
    visibility: hidden;
}

#content {
    padding-bottom: 1rem;

    @include breakpoint(sm) {
        padding-top: 3rem;
        padding-bottom: 2.25rem;
    }

    @include breakpoint(md) {
        padding-top: 6rem;
    }
}


.sidebar {
    display: flex;
    grid-gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &.is-sticky {
        top: 0;
    }

    .logo {
        orphans: -1;
        margin-top: 3rem;
        margin-bottom: 3rem;

        img {
            width: 18rem;
            margin-bottom: .5rem;
        }

        @include breakpoint(md) {
            margin-top: 9rem;
            margin-bottom: 3rem;
        }
    }

    @include breakpoint(md) {
        width: 100%;
        padding-right: .5rem;
        min-height: 100vh;
        max-height: 100vh;
        overflow: auto;
    }

    @include breakpoint(xl) {
        padding-right: 1.5rem;
    }

    .sidebar-item {
        order: 1;
        margin-top: .75rem;
        margin-bottom: .75rem;
    }

    .latest-featured {
        order: 0;

        @include breakpoint(md) {
            order: 1;
        }
    }

}

.sidebar-toggle {
    position: absolute;
    top: 3.5rem;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1.5rem;
    height: 3rem;

    &:before,
    &:after {
        content: '';
        display: block;

        width: 100%;
        height: 2px;

        margin: .25rem 0;

        background-color: var(--black);
    }
}

.sidebar-menu {
    display: none;
    order: 99;
    margin-top: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;

    ul {
        display: flex;

        li {
            padding-right: 1.5rem;
        }
    }

    @include breakpoint(md) {
        display: initial;
    }
}


form#nominate {
    margin-top: 3rem;

    .field {
        margin-bottom: 1.5rem;
    }

    >.field {
        &:last-child {
            margin-top: 3rem;
        }
    }
}