<div class="card directory-item is-skeleton is-nonselectable">
    <div class="card-head">
        <div class="directory-item-image">
            <figure class="image skeleton is-full is-cover">
                <img src="" alt="">
            </figure>
        </div>
    </div>
    <div class="card-body">
        <h4><span class="skeleton is-10"></span></h4>
        <p class="directory-item-location is-size-7 is-uppercase has-text-darkgray">
            <span class="skeleton is-4"></span>
        </p>
        <p class="directory-item-bio">
            <span class="skeleton"></span>
            <span class="skeleton"></span>
            <span class="skeleton is-6"></span>
            <br>
            <br>
            <span class="skeleton is-8"></span>
        </p>
    </div>
</div>