---
layout: default
---

<div class="columns">
    <div class="column is-6-md">
        <div class="has-paragraphs">
            <h3>About</h3>

            <p>FromRMIT is a growing and living <a href="/">directory</a> of young and bold RMIT University Vietnam
                students and alumni in Design and Media department or whoever originated from RMIT who is currently
                working in the design and media industry. It was created in an effort to increase the visibility of
                people from RMIT and a place for people to find, acknowledge and follow a new friend, a mentor or fresh,
                creative and talented individuals to join you on your team.</p>

            <p>FromRMIT is also showcasing many of our best in a biweekly series where we interviewing people who
                originate from RMIT University Vietnam or featuring their creative works in <a
                    href="/featured/">Featured</a>.</p>

            <br>
            <h6 class="has-text-smallcaps">Nomination, Request an Edit or Opt Out</h6>
            <p>Head to our <a href="/nomination/">nomination</a> page to nominate yourself, a friend in class or even
                someone that you knew originate from RMIT to help us build the directory. We usually review and update
                our directory database weekly on Saturday so if you just submit your nomination and haven't seen it on
                the directory, our team might not update it to the system <span class="is-italic">yet</span>.</p>
            <p>To request a removal or an edit of your profile on our site, please send us an email at <a
                    href="mailto:hello@fromrmit.com">hello@fromrmit.com</a>.</p>

            <br>
            <h6 class="has-text-smallcaps">The Team</h6>
            <ul>
                <li><a href="https://haiphan.design/">Hải Phan</a></li>
                <li><a href="https://instagram.com/luftmanp">Nguyễn Thành Phương</a></li>
            </ul>

            <br>
            <p class="help">FromRMIT is in a work-in-progress. If you have a suggestion or find a bug, please let us
                know at <a href="mailto:hello@fromrmit.com">hello@fromrmit.com</a></p>


        </div>
    </div>
</div>